* @splunk-platform-apps/admins

# Make CODEOWNERS file changes require admin approval
/.github/CODEOWNERS @splunk-platform-apps/admins

# Make CI/CD org pipelines changes require admin approval
/.github/workflows/org-*.yml @splunk-platform-apps/admins

# Make docusaurus deps changes require admin approval
/src/ @splunk-platform-apps/admins
/static/ @splunk-platform-apps/admins
