.DS_Store
.vscode

### Splunk local folders
local/
local.meta

### UCC UI extensions
yarn-error.log
node_modules/
output/

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Docusaurus related stuff
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.docusaurus
.cache-loader

build/

# PyPI configuration file
.pypirc
